.AddValidationRuleButtonContainer {
  margin-bottom: 8px;
}

.ValidationRuleItems {
  padding-left: calc(var(--padding-lr-dialog) / 2);
  padding-right: calc(var(--padding-lr-dialog) / 2);
  margin-bottom: var(--margin-bottom-list-items);
}
