/* .ValidationRulesDialogPanel {
  height: 80vh;
} */

.DialogTabList {
  position: sticky;
  top: 0;
}

.DataTypeOptionLabel {
  display: flex;
  align-items: center;
  gap: var(--gap-data-type-option-label);
}
