/* .ValidationRulesDialogPanel {
  height: 80vh;
} */

.DialogTabList {
  position: sticky;
  top: 0;
  z-index: var(--z-index-dialog-tab-list);
}

.DataTypeOptionLabel {
  display: flex;
  align-items: center;
  gap: var(--gap-data-type-option-label);
}

.ThumbnailFileUploadsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: var(--gap-thumbnail-file-uploads-container);
  /* background-color: blue; */
}
