.PromptTextArea {
  height: calc(var(--min-height-text-area) * 2.5);
}

.ContextTitleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ContextTitle {
  font-weight: var(--font-weight-medium);
}

.ContextTitleBarButtonGroup {
  display: flex;
  gap: var(--gap-context-title-bar-button-group);
  align-items: center;
}

.ContextGenerationSectionHeader {
  padding-top: 6px;
  padding-bottom: 6px;
}

.ThumbnailFileUploadItem {
  aspect-ratio: 1 / 0.96;
}

.ThumbnailFileUploadsSection {
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 15px;
  padding-right: 15px;
}
